@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background: #000;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  padding: 10px;
  text-align: center;
}

.image-container .image img {
  width: 350px;
}

.image-container h1 {
  color: #00bcd4;
  font-size: 40px;
}

.image-container p {
  color: #ccc;
  margin-bottom: 40px;
  font-size: 18px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50px;
  border-radius: 20px;
  background: rgba(202, 253, 255, 0.5);
  padding: 10px;
}

.talk {
  background: transparent;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.talk i {
  font-size: 20px;
  color: #aed0d0;
}

.content {
  color: #aed0d0;
  font-size: 16px;
  margin-left: 20px;
}
